*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.wrap{
    background: #e8e7d2;
    max-width: 100%;
    height: 100%;
}
.main-header{
    background:#022d24;
}
.main-header .container{
    display: flex;
    padding:20px;
    max-width: 1200px;
    margin: auto;
    align-items: center;
}
.main-header .logo{
    max-width: 70px;
}
.main-header .logo img{
    max-width: 100%;
    vertical-align: middle;
}
.main-header .main-nav{
    margin: auto;
    display: flex;
}
.main-header .main-nav a{
    text-decoration: none;
    color: #fff;
    padding: 5px 2em;
    position: relative;
    transform: translateY(0px);
    transition:.3s;
}
.main-header .main-nav a:hover{
    transform: translateY(-10px);
    color:	#548C00;
}
.main-header .main-nav a:after{
    content: '';
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -5px;
    height: 0;
    border-bottom: 1px solid #548C00;
    transition: .3s;
}
.main-header .main-nav a:hover:after{
    left: 1em;
    right: 1em;
}
.main-header .header-search{
    display: flex;
}
.main-header .header-search button,
.main-header .header-search input{
    border: none;
    background-color: #fff;
    padding: 5px 10px;
}
.main-header .header-search button:focus,
.main-header .header-search input:focus{
    outline: none;
}
.main-header .header-search button{
    border-radius: 0 200px 200px 0;
}
.main-header .header-search input{
    border-radius: 200px 0 0 200px;
}
.background{
    background-image: url(images/photo-1596789457968-53acf2be0a41.jpeg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    position: relative;
}
@media(max-width:768px){
    .phone{
        display: none;
    }
    .swiper-container{
        display: none;
    }
}
.background p{
    font-family:  'Montserrat', "Microsoft Yahei", "Noto Sans CJK SC", 'Noto Sans TC', "Droid Sans Fallback";
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    top: 65%;
    right: 5%;
    color: #fff;
    opacity: .7;
    transition: .3s;
    letter-spacing:.5em;
}
.background:hover p{
    opacity: 1;
}

.content{
    position: relative;
    display:flex;
    flex-direction: row;
}

.content form{
    display: flex;
    flex-direction: column;
}
.search{
    /* position: absolute;
    top: 7%;
    left: 3%; */
    border: 1px solid gray;
    background: linear-gradient(-20deg,#3CB371,#2F4F4F);
    border-radius: 20px;
    height: 270px;
    max-width: 250px;
    box-shadow: 0 5px 3px rgba(0,0,50,0.5);
    margin:20px;
}
.search h2{
    text-align: center;
    padding: 1em;
    color: #fff;
}

.search select{
    margin-bottom: 2em;
    border-radius: 5px;
    padding: 5px 6px;
    border: none;
}
.search .submit{
    width: 80px;
    align-self: flex-end;
}
.search .submit:hover{
    background: #696969;
    color: #fff;
}
.search input{
    margin-bottom: 2em;
    border-radius: 10px;
}
.search form{
    padding: 1em;
}
.swiper-container{
    padding-top: 1.5em;
    width: 700px;
    height: 300px;
}
.search input[type="text"],
.search input[type="submit"]{
    border: none;
    padding: 5px 6px;
}


.pic{
    max-width: 100%;
    height: 300px;
}

.news{
    border: 2px solid #aaa;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    width: 320px;
    background: #8FBC8F;
}
.news h4{
    text-align: center;
    padding: 1em;
    font-size: 25px;
    background: linear-gradient(-20deg,#3CB371,#2F4F4F);
    color: #fff;
}
.news ul{
    padding: 10px;
}
.news li a{
    color: 	#fff;
    text-decoration: none;
    line-height: 2em;
}
.news li a:hover{
    color: orange;
    font-weight: bold;
}

.container{
    display: flex;
    
    /* padding-bottom: 100px; */
}


.item{
    width: 25%;
    position: relative;
}
.item img{
    width: 100%;
    /* 確保他在25%範圍內 */
    vertical-align:middle;
    /* 消除圖片與文字中間的空隙 */
}
.item .txt{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background-color:rgba(0,0,0,.5);
    opacity: 0;
    transition:opacity .3s;
    /* 透明點擊做開啟 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* 文字垂直居中*/
}
.item:hover .txt{
    opacity: 1;
}
.item h2::after{
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    margin: 10px 0;
    background-color:#32CD32;
    transition:width 0.3s 0.3s;
                /* 顯示秒數 延遲 */
}
.item:hover h2::after{
    width: 100%;
}
.container{
    padding-top:150px;
}
.container h2{
    font-size: 25px;
    color: 	#32CD32;
    font-weight: 500;
}
.container p{
    font-size: 16px;
    color: #fff;
    font-weight: 100;
}
@media(max-width:768px){
    .container{
        flex-direction: column;
        padding-top: 0;
    }
    .item{
        width: 100%;
    }
}

.footer{
    background: #022d24;
}

.footer .footer-logo{
    float: left;
    display: flex;
    padding: 2em;
}
.footer .footer-logo img{
    width: 70px;
}
.footer .footer-logo h4{
    font-size: 20px;
    color: #fff;
    padding:.5em;
}
.footer .footer-txt{
    float: right;
    color: #fff;
    padding: 4em;
    line-height:1.8;
}
.clearfix{
    clear: both;
}

@media (max-width:768px){
    .footer-txt{
        display: none;
    }
    .footer .footer-logo{
        float: right;
    }
}